<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.example.myplugin"
    version="1.0.0">

    <name>MyPlugin</name>

    <js-module src="www/myplugin.js" name="MyPlugin">
        <clobbers target="MyPlugin" />
    </js-module>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
        </config-file>
        <source-file src="src/android/MyPlugin.java" target-dir="src/com/example/myplugin" />
    </platform>

    <platform name="ios">
        <source-file src="src/ios/MyPlugin.swift" />
    </platform>
</plugin>
